.block {
    height: 20px;
    border: 1px solid blue;
}

.inline {
    height: 30px;
    border: 1px solid red;
    width: 200px;
}

.display-inline {
    height: 18px;
    width: 15px;
    background-color: yellow;
    display: inline;
    padding: 5px;
    margin: 5px;
}

.display-inline-block {
    height: 20px;
    width: 60px;
    display: inline-block;
    background-color: yellow;
    padding: 5px;
    margin: 5px;
}

.display-block {
    display: block;
    background-color: yellow;
    padding: 10px;
}